NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_MAPS_API_KEY="AIzaSyDZOj7fYJQfKtURCOYpoutqT35A-yuXf8I"
NEXT_PUBLIC_SANITY_TOKEN=""

NEXT_PUBLIC_WORK_LAT=-6.230262983177975
NEXT_PUBLIC_WORK_LON=-77.87448518786657
NEXT_PUBLIC_ALLOWED_RADIUS=100